<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 示例</title>
</head>

<body>
    <!-- v-model 指令，用于在表单类元素上双向绑定数据 -->
    <!-- 当敲下汉字时才会触发更新，如果希望总是实时更新，可以用 @input 来替代 v-model -->
    <div id="app">
        <p>1.输入的内容是：{{message}}</p>
        <input type="text" v-model="message" placeholder="输入...">

        <!-- 对于文本域也是同样用法 -->
        <p style="white-space:pre">2.输入的内容是：{{text}}</p>
        <textarea v-model="text" cols="30" rows="10"></textarea>

        <!-- 总是实时更新 -->
        <p>3.输入的内容是：{{message1}}</p>
        <input type="text" @input="handleInput" placeholder="输入...">

        <!-- 单选按钮 -->
        <div>
            <input type="radio" v-model="picked" value="html" id="html">
            <label for="html">HTML</label>
            <br>
            <input type="radio" v-model="picked" value="js" id="js">
            <label for="js">JavaScript</label>
            <br>
            <input type="radio" v-model="picked" value="css" id="css">
            <label for="css">CSS</label>
            <br>
            <p>4.选择的项是：{{picked}}</p>
        </div>

        <!-- 复选框 -->
        <div>
            <input type="checkbox" v-model="checked" id="checked">
            <label for="checked">5.选择状态：{{checked}}</label>
        </div>

        <div>
            <input type="checkbox" v-model="checked1" value="html" id="html1">
            <label for="html1">HTML</label>
            <br>
            <input type="checkbox" v-model="checked1" value="js" id="js1">
            <label for="js1">JavaScript</label>
            <br>
            <input type="checkbox" v-model="checked1" value="css" id="css1">
            <label for="css1">CSS</label>
            <br>
            <p>6.选择的项是：{{checked1}}</p>
        </div>

        <!-- 选择列表 -->
        <div>
            <!-- <option> 如果含有 value 属性，则优先匹配 value 的值 -->
            <select v-model="selected" multiple>
                <option>html</option>
                <option value="js">JavaScript</option>
                <option>css</option>
            </select>
            <p>7.选择的项是：{{selected}}</p>
        </div>

        <div>
            <select v-model="selected1">
                <option v-for="option in options" :value="option.value">{{option.text}}</option>
            </select>
            <p>8.选择的项是：{{selected1}}</p>
        </div>

        <!-- 绑定值：给 value属性绑定值，当按钮选中时，app.picked === app.value -->
        <!-- 修饰符：与事件的修饰符类似，v-model 也有修饰符 -->
        <!-- 
            .lazy 会转变为在 change 事件中同步，这时，message 并不是实时改变的，而是在失去焦点或按回车时才更新
            .number 可以将输入转换为 Number 类型
            .trim 可以自动过滤输入的首尾空格
         -->
        <input type="text" v-model.lazy="message2">
        <p>9.{{message2}}</p>

        <input type="number" v-model.number="message3">
        <p>10.{{message3}}</p>

        <input type="text" v-model.trim="message4">
        <p>11.{{message4}}</p>
    </div>

    <script src="../../vue.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: '',
                text: '',
                message1: '',
                picked: 'js',
                checked: false,
                checked1: ['html', 'css'],
                selected: ['html', 'js'],
                selected1: 'html',
                options: [{
                    text: 'HTML',
                    value: 'html'
                }, {
                    text: 'JavaScript',
                    value: 'js'
                }, {
                    text: 'CSS',
                    value: 'css'
                }],
                message2: '',
                message3: '123',
                message4: ''
            },
            methods: {
                handleInput: function(e) {
                    this.message1 = e.target.value;
                }
            }
        });
    </script>
</body>

</html>